@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Caveat Regular'), local('Caveat-Regular'), url(https://fonts.gstatic.com/s/caveat/v8/Wnz6HAc5bAfYB2QLYQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dancingscript/v15/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7BMSoHTQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Nothing You Could Do';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Nothing You Could Do'), local('NothingYouCouldDo'), url(https://fonts.gstatic.com/s/nothingyoucoulddo/v10/oY1B8fbBpaP5OX3DtrRYf_Q2BPB1SnfZb0OJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Satisfy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Satisfy Regular'), local('Satisfy-Regular'), url(https://fonts.gstatic.com/s/satisfy/v11/rP2Hp2yn6lkG50LoOZQ.ttf) format('truetype');
}
@font-face {
  font-family: 'The Girl Next Door';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('The Girl Next Door'), local('TheGirlNextDoor'), url(https://fonts.gstatic.com/s/thegirlnextdoor/v11/pe0zMJCIMIsBjFxqYBIcZ6_OI5oFHCYIVw.ttf) format('truetype');
}
body {
  background-image: url('../images/bee.jpg');
}
body #main {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}
body #main header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dcb10db3;
  padding: 0.2em;
  border-radius: 20%;
}
body #main header h1 {
  color: white;
  font-family: 'Nothing You Could Do', cursive;
  font-size: 3em;
}
body #main header nav a {
  padding: 0.5em;
  font-family: 'Nothing You Could Do', cursive;
  color: white;
  font-size: 1.5em;
}
body #main .game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.2em;
}
body #main .game .the-grid {
  position: relative;
  margin: 0 auto;
  background-color: #332c0fb3;
  background-image: linear-gradient(#333 1px, transparent 1px), linear-gradient(90deg, #333 1px, transparent 1px);
}
body #main .game .the-grid .the-cell {
  background: #ddcb82;
  position: absolute;
}
body #main .game .the-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.2em;
}
body #main .game .the-controls p {
  font-family: 'Satisfy', cursive;
  font-size: 1.5em;
}
body #main .game .the-controls .button {
  cursor: pointer;
  background-color: #dcb10d;
  font-family: 'Satisfy', cursive;
  color: white;
  font-size: 1.2em;
  padding: 0.4em;
  margin: 0.2em;
  border: 1px solid #332c0f;
  box-shadow: #332c0f;
}
body #main .game .grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body #main .game .grid h2 {
  font-family: 'The Girl Next Door', cursive;
  color: #332c0f;
  font-size: 2em;
  background-image: url('../images/bg.jpg');
  border-radius: 20%;
}
body #main .game .grid svg g text {
  font-size: 1px;
}
body #main .game .grid svg g .bgAlive {
  fill: #ddcb82;
}
body #main .game .grid svg g .bgDead {
  fill: #332c0fb3;
}
body #main .game .controls {
  font-family: 'Caveat', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
}
body #main .game .controls .button {
  position: relative;
  width: 75px;
  height: 43.3px;
  background-color: #dcb10d;
  margin: 21.65px 0;
  border-left: solid 3px #dccb82;
  border-right: solid 3px #dccb82;
}
body #main .game .controls .button:before,
body #main .game .controls .button:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 53.03px;
  height: 53.03px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 7.9835px;
}
body #main .game .controls .button:before {
  top: -26.5165px;
  border-top: solid 4.2426px #dccb82;
  border-right: solid 4.2426px #dccb82;
}
body #main .game .controls .button:after {
  bottom: -26.5165px;
  border-bottom: solid 4.2426px #dccb82;
  border-left: solid 4.2426px #dccb82;
}
body #main .game .controls .button span {
  display: block;
  position: absolute;
  top: 1.73205081px;
  left: 0;
  width: 69px;
  height: 39.8372px;
  z-index: 2;
  background: inherit;
  text-align: center;
}
body #main .game .about {
  background-image: url('../images/bg.jpg');
}
body #main .game .about h2 {
  font-family: 'The Girl Next Door', cursive;
  color: #332c0f;
}
body #main .game .rules {
  background-image: url('../images/bg.jpg');
}
body #main .game .rules h2 {
  font-family: 'The Girl Next Door', cursive;
  color: #332c0f;
}
